<div class="total">
<div class="container body-background-color">
  <h1>Etiquetas HTML</h1>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" name="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Etiqueta</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of etiquetas | filter:filterPost" >
            <th>{{post.id}}</th>
            <div  ngbDropdown class="d-inline-block">
              <button class="polla" id="dropdownBasic1" ngbDropdownToggle><th>{{post.nombre}}</th></button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dor" >
                <h6>Etiqueta {{post.nombre}}</h6>
                  <div [innerHTML]=post.ejemplo></div>
                  <p>{{post.ejemplo}}</p>


              </div>
            </div>

            <th>{{post.des}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
